<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

  <bean id="helloWorld" class="AopTest.helloWorld.HelloWorldService"/>
  <bean id="helloWorldAspect" class="AopTest.helloWorld.HelloWorldAspect"/>
  <!--<aop:config>-->
	<!--<aop:pointcut id="pointcut" expression="execution(* AopTest.helloWorld..*.*(..)) and args(to)"/>-->
	<!--<aop:aspect ref="helloWorldAspect">-->
	  <!--<aop:before pointcut="execution(* AopTest.helloWorld..*.*(..)) and args(..)"-->
				  <!--method="beforeHello" arg-names="to"/>-->
	  <!--<aop:after pointcut-ref="pointcut" method="afterHello"/>-->
	<!--</aop:aspect>-->
  <!--</aop:config>-->

  <aop:config>
	<aop:aspect ref="helloWorldAspect">
	  <aop:before pointcut="execution(* AopTest.helloWorld..*.*(..)) and args(to)"
				  method="beforeAdvice(java.lang.String)"
				  arg-names="to"/>
	</aop:aspect>
  </aop:config>

</beans>